.formData {
    background: #fff;
    margin: 2% 0;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 1px 1px 5px gray;
    width: 30%;
}

.styleProfileImage {
    width: 5vw;
    height: 5vh;
    border-radius: 8px;
}

.styleImage {
    width: 10vw !important;
    height: 10vh;
    border-radius: 8px;
}

.styleRating {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    color: #124a8a;
}

.styleTimeService {
    padding: 0 !important;
}